@mixin descriptionHeader {
  font-size: 1.45rem;
  font-family: 'Comfortaa', cursive;
  font-weight: bold;
  color: #886288;
}

@mixin descriptionParagraf {
  margin-top: 0.5rem;
  margin-left: 20px;
  font-size: 1.1rem;
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
  color: #886288;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  background-color: #15141f;
  header {
    display: fixed;
    color: #886288;
    .devider {
      width: 70rem;
      display: flex;
      flex-direction: column;
      margin-top: 1rem;
      .topSection {
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid #886288;
        justify-content: space-between;
        .logo {
          h2 {
            font-family: 'Poiret One', cursive;
            font-size: 4rem;
            font-weight: bold;
          }
          h1 {
            font-family: 'Poiret One', cursive;
            font-size: 1.85rem;
            font-weight: bold;
          }

        }
        .telephone {
          margin-top: 0.4rem;
          h3 {
            font-family: 'Comfortaa', cursive;
            font-size: 1.4rem;
          }
          h4 {
            margin-top: 0.4rem;
            font-family: 'Comfortaa', cursive;
            font-size: 1.9rem;
          }
        }
      }

      .bottomSection {
        ul {
          display: flex;
          justify-content: space-around;
          li {
            display: inline-block;
            a {
              color: #f27927;
              text-decoration: none;
            }
          }
        }
      }
    }
  } //end header
  #scope {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    .devider {
      width: 70rem;
      display: flex;
      flex-direction: row;
      margin-top: 1rem;
      justify-content: space-between;
      .ourAbility { /* слева */
        width: 45%;
        display: flex;
        flex-direction: column;
        h3  {
          font-size: 2rem;
          text-align: center;
          margin-bottom: 2rem;
          font-weight: bold;
          font-family: 'Open Sans', sans-serif;
          color: #886288;
        }
        .description {
          margin-top: 0.5rem;
          margin-bottom: 1.5rem;
          h4  {
            @include descriptionHeader;
          }
          p {
            @include descriptionParagraf;
          }
        }
      }
      .ourAdvantage { /* справа */
        width: 45%;
        display: flex;
        flex-direction: column;
        h3  {
          text-align: center;
          font-size: 2rem;
          margin-bottom: 2rem;
          font-family: 'Open Sans', sans-serif;
          font-weight: bold;
          color: #886288;
        }
        .description {
          margin-top: 0.5rem;
          margin-bottom: 2.5rem;
          h4  {
            @include descriptionHeader;
          }
          p {
            @include descriptionParagraf;
          }
        }
      }
    }
  } // end #scope
  #servicesAndPrices {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    .devider {
      width: 70rem;
      display: flex;
      flex-direction: row;
      margin-top: 1rem;
      .packageSolution {
        width: 40%;
        h3 {
          font-size: 2rem;
          text-align: center;
          margin-bottom: 2rem;
          font-weight: bold;
          font-family: 'Open Sans', sans-serif;
          color: #886288;
        }
        .solutionBox {
          border-radius: 20px;
          background-color: #00BFFF;
          width: auto;
          margin: 0 1.5rem;
          margin-bottom: 2.5rem;
          color: #0A3055;
          font-family: 'Open Sans', sans-serif;
          h4 {
            text-align: center;
            padding-top: 1.5rem;
            margin-bottom: 2rem;
            font-size: 2rem;
            font-weight: bold;
          }
          ul {
            li {
              margin-left: 2rem;
              &:first-child {
                margin-left: 1rem;
                padding-bottom: 0.4rem;
                font-weight: bold;

              }
            }

          }
          p {
            text-align: center;
            margin-top: 2rem;
            padding-bottom: 2.5rem;
            font-size: 2rem;
            font-weight: bold;
          }
        }


      } // end packageSolution
      .miniPrice {
        width: 60%;
        h3 {
          font-size: 2rem;
          text-align: center;
          margin-bottom: 2rem;
          font-weight: bold;
          font-family: 'Open Sans', sans-serif;
          color: #886288;
        }

        table {
          margin-bottom: 3rem;
          font-family: 'Open Sans', sans-serif;
          color: #886288;
          width: 100%;
          thead {
            tr {
              //background-color: #7bacdd;
              padding-bottom: 1rem;
              th {
                font-size: 1.6rem;
                text-align: left;
              }
            }
          }

          tbody {
            font-size: 1.1rem;
            tr {
              background-color: #080714;
              line-height: 1.4rem;

              td {
                border: 2px solid #15141f;
                padding: 0.1rem;
                &:nth-child(2){
                  text-align: right;
                  width: 20%;
                }
              }
              &:nth-child(2n) {
                //background-color: #080714;
              }
            }
          }
          tfoot {
            color: #b200fd;
            tr {

            }
          }
        } // end table
      } // end miniPrice
    } // end .devider
  } // end #servicesAndPrices
}
