.important-blue {
  color: deepskyblue;
  font-size: 1.1rem; }

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif; }

#particles-js {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #222629;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat; }

.top-header {
  position: fixed;
  z-index: 10;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #181C1F;
  height: 5rem;
  display: flex;
  justify-content: center; }
  .top-header__content {
    width: 70rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    .top-header__content__main-logo {
      display: flex;
      flex-direction: row; }
      .top-header__content__main-logo__logo {
        border: 3px solid #FFA500; }
        .top-header__content__main-logo__logo h2 {
          display: inline-block;
          text-transform: uppercase;
          color: #FFA500;
          font-size: 2rem;
          padding: 0.75rem; }
      .top-header__content__main-logo__slogan {
        color: #E3E3E3;
        margin-left: 0.75rem; }
        .top-header__content__main-logo__slogan li {
          margin: 0.25rem 0; }
    .top-header__content__main-nav ul li {
      display: inline-block;
      margin: 0 0.5rem;
      padding: 0.75rem;
      background-color: #11181E;
      transition-property: background-color;
      transition-delay: 0;
      transition-duration: 300ms;
      transition-timing-function: ease; }
      .top-header__content__main-nav ul li a {
        color: #E7F1D9;
        text-decoration: none;
        font-weight: bold;
        transition-property: color;
        transition-delay: 0;
        transition-duration: 300ms;
        transition-timing-function: ease; }
      .top-header__content__main-nav ul li:hover {
        background-color: #FFA500; }
        .top-header__content__main-nav ul li:hover a {
          color: #05182A; }
      .top-header__content__main-nav ul li:nth-child(4) {
        background-color: #11181E; }
        .top-header__content__main-nav ul li:nth-child(4) a {
          color: #E7F1D9; }
      .top-header__content__main-nav ul li:nth-child(4):hover {
        background-color: #8BC832; }
        .top-header__content__main-nav ul li:nth-child(4):hover a {
          color: #05182A; }

#content-wrapper {
  position: relative;
  z-index: 2;
  top: 5rem;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  #content-wrapper .devider {
    width: 70rem;
    background-color: rgba(34, 38, 41, 0.7); }
    #content-wrapper .devider #popular-service {
      font-family: 'Rubik', sans-serif;
      display: flex;
      flex-direction: column; }
      #content-wrapper .devider #popular-service h2 {
        margin-top: 2rem;
        color: orange;
        font-size: 2.5rem;
        text-align: center; }
      #content-wrapper .devider #popular-service .triple-servise-box {
        margin-top: 2rem;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between; }
        #content-wrapper .devider #popular-service .triple-servise-box .servise-box {
          border: 2px solid #FFA500;
          background-color: rgba(13, 22, 29, 0.4);
          width: 30%;
          height: auto;
          margin: 0 1rem; }
          #content-wrapper .devider #popular-service .triple-servise-box .servise-box .service-description {
            margin: 1rem;
            text-align: center;
            color: #7e8793;
            font-size: 1.2rem;
            line-height: 1.6;
            letter-spacing: 1px; }
          #content-wrapper .devider #popular-service .triple-servise-box .servise-box .icon-zone {
            margin: 1.5rem;
            display: flex;
            justify-content: center;
            color: #FFA500; }
    #content-wrapper .devider #presentation h2 {
      color: deepskyblue;
      font-size: 2.5rem;
      text-align: center;
      margin-bottom: 2rem; }
    #content-wrapper .devider #presentation .double-block {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: row; }
      #content-wrapper .devider #presentation .double-block .left-block-presentation {
        width: 50%; }
        #content-wrapper .devider #presentation .double-block .left-block-presentation .segment-presentation {
          margin-bottom: 2rem; }
          #content-wrapper .devider #presentation .double-block .left-block-presentation .segment-presentation h3 {
            color: deepskyblue;
            font-size: 2rem;
            margin-bottom: 0.75rem;
            margin-left: 0.5rem; }
          #content-wrapper .devider #presentation .double-block .left-block-presentation .segment-presentation p {
            color: #7e8793;
            margin: 0 0.5rem;
            line-height: 1.5; }
      #content-wrapper .devider #presentation .double-block .right-block-presentation {
        width: 50%; }
        #content-wrapper .devider #presentation .double-block .right-block-presentation .segment-presentation {
          margin-bottom: 2rem; }
          #content-wrapper .devider #presentation .double-block .right-block-presentation .segment-presentation h3 {
            color: deepskyblue;
            font-size: 2rem;
            margin-bottom: 0.75rem;
            margin-left: 0.5rem; }
          #content-wrapper .devider #presentation .double-block .right-block-presentation .segment-presentation p {
            color: #7e8793;
            margin: 0 0.5rem;
            line-height: 1.5; }
    #content-wrapper .devider #just-line {
      width: 100%;
      margin-top: 2rem;
      margin-bottom: 2rem;
      border-bottom: 2px solid rgba(28, 28, 31, 0.5); }
    #content-wrapper .devider #price .double-block {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: row; }
      #content-wrapper .devider #price .double-block .package-solution {
        width: 45%; }
        #content-wrapper .devider #price .double-block .package-solution h3 {
          font-size: 2rem;
          text-align: center;
          margin-bottom: 2rem;
          color: #8ac832; }
        #content-wrapper .devider #price .double-block .package-solution .solutionBox {
          background-color: rgba(24, 28, 31, 0.5);
          width: auto;
          margin: 0 1.5rem;
          margin-bottom: 2.5rem;
          color: #7e8793; }
          #content-wrapper .devider #price .double-block .package-solution .solutionBox h4 {
            text-align: center;
            padding-top: 1.5rem;
            margin-bottom: 2rem;
            font-size: 2rem;
            font-weight: bold; }
          #content-wrapper .devider #price .double-block .package-solution .solutionBox ul li {
            margin-left: 2rem;
            line-height: 1.5; }
            #content-wrapper .devider #price .double-block .package-solution .solutionBox ul li:first-child {
              margin-left: 1rem;
              padding-bottom: 0.4rem;
              font-weight: bold; }
          #content-wrapper .devider #price .double-block .package-solution .solutionBox p {
            text-align: center;
            margin-top: 2rem;
            padding-bottom: 2.5rem;
            font-size: 2rem;
            font-weight: bold; }
          #content-wrapper .devider #price .double-block .package-solution .solutionBox .discount {
            color: #ff2400; }
      #content-wrapper .devider #price .double-block .cost-services {
        width: 55%;
        margin-right: 1rem; }
        #content-wrapper .devider #price .double-block .cost-services h3 {
          font-size: 2rem;
          text-align: center;
          margin-bottom: 2rem;
          color: #8ac832; }
        #content-wrapper .devider #price .double-block .cost-services table {
          margin-bottom: 3rem;
          color: #7e8793;
          width: 100%; }
          #content-wrapper .devider #price .double-block .cost-services table thead tr {
            padding-bottom: 1rem; }
            #content-wrapper .devider #price .double-block .cost-services table thead tr th {
              font-size: 1.6rem;
              text-align: left; }
          #content-wrapper .devider #price .double-block .cost-services table tbody {
            font-size: 1rem; }
            #content-wrapper .devider #price .double-block .cost-services table tbody tr {
              background-color: rgba(13, 22, 29, 0.4);
              line-height: 1.4rem; }
              #content-wrapper .devider #price .double-block .cost-services table tbody tr td {
                padding: 0.2rem;
                border: 2px solid rgba(34, 38, 41, 0.7); }
                #content-wrapper .devider #price .double-block .cost-services table tbody tr td:nth-child(2) {
                  text-align: right;
                  width: 20%; }
          #content-wrapper .devider #price .double-block .cost-services table tfoot {
            color: #8ac832;
            font-size: 0.9rem; }
        #content-wrapper .devider #price .double-block .cost-services .cost-discription {
          margin-bottom: 2rem; }
          #content-wrapper .devider #price .double-block .cost-services .cost-discription p {
            color: #8ac832;
            font-size: 0.9rem; }
  #content-wrapper footer {
    width: 100%;
    font-family: 'Fenix', serif;
    height: 15rem;
    background-color: #181C1F;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    #content-wrapper footer .contact ul li {
      display: inline-block;
      margin: 0 1rem;
      font-size: 1.1rem;
      color: #858589; }
    #content-wrapper footer .copyright {
      margin-top: 1.5rem;
      border-top: 1px solid #636366; }
      #content-wrapper footer .copyright ul {
        padding: 1rem;
        font-size: 1.1rem;
        color: #858589; }
        #content-wrapper footer .copyright ul li {
          text-align: center;
          padding: 0.50rem; }
          #content-wrapper footer .copyright ul li a {
            text-decoration: underline;
            color: deepskyblue; }

/*# sourceMappingURL=style.css.map */
